@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
.background{
                 
    min-height: 100vh;             
    background-image: url('../../../public/images/background.jpg');
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;             
    justify-content: center;
    align-items: center;
}
.Tittle{
    font-family: 'Anton SC', sans-serif;
    color: #fff;
    font-size: 250px;
    letter-spacing: 10px;
}